html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

#gallery {
  padding: 0;
  margin-right: 5px;
  list-style: none;
  display: flex;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
#font-size-control {
  display: flex;
  margin-top: 30px;
}
